
.axis line{
	stroke: #939393;
	opacity: .25;
}

.axis path{
	stroke: #939393;
	opacity: .25;
}

.axis text{
	fill: #939393;
	font-size: 14px;
	opacity: 1;
}

.tooltip {
    position: absolute;
}

.percentileLabel {
	fill: white;
	font-size: 11px;
}

#example2 {
	border-style: solid;
	border-color: #2C363F;
	box-shadow: 10px 10px 50px #252932;
}